                body {
                    font-family: "Overpass", Sans-serif;
                    padding: 0;
                    margin: 0;
                }
                /* * {
                        box-sizing: border-box;
                        } */
                /* ------------------------------------------section1-----------------------------------------------------*/
                
                .section-1 {
                    background-image: url('png/hero2.jpg');
                    width: 100%;
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                }
                
                .section-1 header {
                    width: 100%;
                    background-color: rgba(0, 0, 0, 0.315);
                }
                
                .flexbox {
                    display: flex;
                    width: 100%;
                    align-items: baseline;
                }
                
                .menu {
                    width: 25%;
                    display: flex;
                    justify-content: center;
                }
                
                a.gentium {
                    color: white;
                    text-decoration: none;
                    font-size: 1.4vw;
                }
                
                .flex-1 {
                    display: flex;
                    width: 60%;
                    justify-content: flex-end;
                }
                
                ul,
                li {
                    display: flex;
                    margin: 20px;
                    color: white;
                    font-weight: 600;
                }
                
                li {
                    border-bottom: none;
                    padding-bottom: 12px;
                    cursor: pointer;
                }
                
                ul.menuBar a {
                    text-decoration: none;
                    color: white;
                }
                
                #div-1,
                #div-2,
                #div-3,
                #div-4,
                #div-5,
                #div-6 {
                    background-color: white;
                    width: 0.1px;
                    height: 2px;
                    transition-timing-function: ease-out;
                    transition: .4s;
                    margin-top: 6px;
                    visibility: hidden;
                }
                
                .menubar li:hover #div-1 {
                    width: 30px;
                    background-color: #E9204F;
                    visibility: visible;
                }
                
                .menubar li:hover #div-2 {
                    width: 30px;
                    background-color: #E9204F;
                    visibility: visible;
                }
                
                .menubar li:hover #div-3 {
                    width: 30px;
                    background-color: #E9204F;
                    visibility: visible;
                }
                
                .menubar li:hover #div-4 {
                    width: 30px;
                    background-color: #E9204F;
                    visibility: visible;
                }
                
                .menubar li:hover #div-5 {
                    width: 30px;
                    background-color: #E9204F;
                    visibility: visible;
                }
                
                .menubar li:hover #div-6 {
                    width: 30px;
                    visibility: visible;
                    background-color: #E9204F;
                }
                
                div.icons {
                    display: flex;
                    width: 12%;
                    justify-content: flex-end;
                    /* background-color: salmon; */
                    /* padding: 5px; */
                }
                
                .fa-facebook:before,
                .fa-twitter:before,
                .fa-instagram:before {
                    color: white;
                    display: flex;
                    word-spacing: 2px;
                }
                
                .icon {
                    margin: 5px 20px 5px 7px;
                }
                
                div.result {
                    font-weight: 800;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    color: white;
                    font-size: 2.7vw;
                    padding: 2.3vw 0 0 6vw;
                }
                
                header p {
                    color: white;
                    font-weight: 500;
                    padding-left: 6vw;
                    line-height: 1.9vw;
                    font-size: 1.2vw;
                }
                
                button.start {
                    background-color: #E9204F;
                    width: 20vw;
                    height: 4vw;
                    border: none;
                    color: white;
                    font-size: 1.4vw;
                    margin: 2.7vw 0 7.7vw 6vw;
                    border-radius: 5px;
                    transition: .3s;
                }
                
                button.start:hover {
                    color: #E9204F;
                    background-color: #ffffff;
                }
                
                button.start {
                    transition-timing-function: ease-in-out;
                }
                
                button.start:hover #second {
                    width: 100%;
                }
                /* .menu {
                        background-color: red;
                        } */
                /* ------------------------------------------section2-----------------------------------------------------*/
                
                section.section-2 main {
                    width: 100%;
                    background-color: rgb(245, 245, 245);
                    padding-bottom: 2.3vw;
                }
                
                .title {
                    text-align: center;
                    width: 100%;
                    height: 29vw;
                }
                
                .title h1 {
                    margin-top: 0;
                    font-size: 3.3vw;
                    padding-top: 8.4vw;
                    letter-spacing: -.07vw;
                }
                
                .title p {
                    line-height: 2;
                    color: rgb(150, 148, 148);
                    font-size: 1.19vw;
                }
                
                .boxs {
                    display: flex;
                    flex-flow: row wrap;
                    flex-direction: row;
                    justify-content: center;
                    margin: 10px;
                }
                
                .digital-strategy,
                .ux-design,
                .product-design,
                .content-strategy,
                .design-concept,
                .social-media {
                    width: 380px;
                    height: 400px;
                    background-color: rgb(255, 255, 255);
                    margin: 15px;
                }
                /* #box:hover .box-2 {
                         background-color: red;
                        } */
                
                a#box-1,
                a#box-2,
                a#box-3,
                a#box-4,
                a#box-5,
                a#box-6 {
                    text-decoration: none;
                    color: black;
                }
                
                div.box-1 {
                    padding: 60px 20px 10px 50px;
                    transition: transform .3s;
                }
                
                div.box-2 {
                    padding: 30px 20px 0 50px;
                    transition: transform .3s;
                }
                
                div.box-2 p {
                    color: rgb(160, 160, 160);
                    line-height: 2;
                }
                
                div.box-2 h2 {
                    letter-spacing: -1px;
                }
                
                div.box-3 {
                    padding: 10px 20px 0 50px;
                    opacity: 0;
                    transition: transform .3s;
                    transition: opacity .5s;
                }
                
                #box-1:hover .box-1 {
                    transform: translateY(-10px);
                    color: #E9204F;
                }
                
                #box-1:hover .box-2 {
                    transform: translateY(-37px);
                }
                
                #box-1:hover .box-3 {
                    transform: translateY(-27px);
                    opacity: .8;
                }
                
                #box-2:hover .box-1 {
                    transform: translateY(-10px);
                    color: #E9204F;
                }
                
                #box-2:hover .box-2 {
                    transform: translateY(-37px);
                }
                
                #box-2:hover .box-3 {
                    transform: translateY(-27px);
                    opacity: .8;
                }
                
                #box-3:hover .box-1 {
                    transform: translateY(-10px);
                    color: #E9204F;
                }
                
                #box-3:hover .box-2 {
                    transform: translateY(-37px);
                }
                
                #box-3:hover .box-3 {
                    transform: translateY(-27px);
                    opacity: .8;
                }
                
                #box-4:hover .box-1 {
                    transform: translateY(-10px);
                    color: #E9204F;
                }
                
                #box-4:hover .box-2 {
                    transform: translateY(-37px);
                }
                
                #box-4:hover .box-3 {
                    transform: translateY(-27px);
                    opacity: .8;
                }
                
                #box-5:hover .box-1 {
                    transform: translateY(-10px);
                    color: #E9204F;
                }
                
                #box-5:hover .box-2 {
                    transform: translateY(-37px);
                }
                
                #box-5:hover .box-3 {
                    transform: translateY(-27px);
                    opacity: .8;
                }
                
                #box-6:hover .box-1 {
                    transform: translateY(-10px);
                    color: #E9204F;
                }
                
                #box-6:hover .box-2 {
                    transform: translateY(-37px);
                }
                
                #box-6:hover .box-3 {
                    transform: translateY(-27px);
                    opacity: .8;
                }
                /* div.box-3:hover {
                               opacity: 1;
                               transform: translateY(-10px);
                               transition: .3s;
                               transition-timing-function: ease-in-out;
                        }




/* ------------------------------------------section3-----------------------------------------------------*/
                
                .section-3 {
                    width: 100%;
                    background-color: rgb(0, 0, 0);
                }
                
                .section-3 header {
                    text-align: center;
                    color: white;
                    padding-top: 3.8vw;
                }
                
                .section-3 header p {
                    padding: 0;
                    padding-bottom: 4.6vw;
                    color: rgb(151, 150, 150);
                    font-size: 1.2vw;
                }
                
                .section-3 header h1 {
                    font-size: 3.6vw;
                    font-weight: 700;
                }
                
                .section-3 main {
                    display: flex;
                    flex-flow: row wrap;
                    flex-direction: row;
                    justify-content: center;
                    margin: 10px 10px 0px 10px;
                    padding-bottom: 50px;
                }
                
                .section-3 main div {
                    width: 500px;
                    height: 500px;
                    margin: 10px;
                    transition: 1s;
                }
                
                div.pic-1 {
                    background-image: url(png/03-min-1.jpg);
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                }
                
                div.pic-2 {
                    background-image: url(png/work1.jpg);
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                }
                
                div.pic-3 {
                    background-image: url(png/work-4.jpg);
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                }
                
                div.pic-4 {
                    background-image: url(png/work3.jpg);
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                }
                
                .section-3 main div:hover {
                    transform: scale(1.03, 1.03);
                    cursor: pointer;
                    transition: .3s;
                }
                /* ------------------------------------------section4-----------------------------------------------------*/
                
                .section-4 {
                    width: 100%;
                    background-color: rgb(241, 241, 241);
                    padding-top: 65px;
                }
                
                div.border-bottem {
                    width: 100%;
                    display: flex;
                    flex-flow: row wrap;
                    flex-direction: row;
                    justify-content: center;
                    padding-bottom: 30px;
                }
                
                .pic--1 {
                    width: 35%;
                    height: 600px;
                    background-image: url(png/client_01-1.jpg);
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    margin-top: 70px;
                    z-index: 1;
                }
                
                .moraba {
                    width: 110px;
                    height: 110px;
                    background-color: #E9204F;
                    z-index: 5;
                    margin-left: -150px;
                    margin-top: 10px;
                }
                
                .note {
                    width: 50%;
                    height: 600px;
                    padding: 40px 0 30px 60px;
                    margin-bottom: 110px;
                }
                
                .prob {
                    width: 5.3vw;
                    height: .15vw;
                    background-color: #E9204F;
                }
                
                .note h1 {
                    font-size: 3.8vw;
                    letter-spacing: -2px;
                }
                
                .p-1 {
                    color: #999999;
                    font-family: "Overpass", Sans-serif;
                    font-size: 1.8vw;
                    font-weight: 400;
                    line-height: 41px;
                    padding-top: 25px;
                }
                
                .p-2 {
                    padding-top: 110px;
                    font-size: 1.2vw;
                    font-weight: 700;
                }
                
                .bottem-border {
                    width: 87%;
                    border-bottom: 1px solid rgb(214, 214, 214);
                    margin-bottom: 20px;
                }
                
                div.picturs {
                    margin: 0 15px;
                    width: 87%;
                    height: 70px;
                    display: flex;
                    flex-wrap: nowrap;
                    flex-direction: row;
                    justify-content: center;
                    padding-bottom: 50px;
                }
                
                .picturs-1 {
                    width: 16.6%;
                    background-image: url(png-1/01.png);
                    background-position: center;
                    background-repeat: no-repeat;
                }
                
                .picturs-2 {
                    width: 16.6%;
                    background-image: url(png-1/02.png);
                    background-position: center;
                    background-repeat: no-repeat;
                }
                
                .picturs-3 {
                    width: 16.6%;
                    background-image: url(png-1/03.png);
                    background-position: center;
                    background-repeat: no-repeat;
                }
                
                .picturs-4 {
                    width: 16.6%;
                    background-image: url(png-1/04.png);
                    background-position: center;
                    background-repeat: no-repeat;
                }
                
                .picturs-6 {
                    width: 16.6%;
                    background-image: url(png-1/06.png);
                    background-position: center;
                    background-repeat: no-repeat;
                }
                /* ------------------------------------------section5-----------------------------------------------------*/
                /* .section-5 {
                    width: 100%;
                    background-color: rgb(255, 255, 255);
                    padding-bottom: 100px;
                }
                
                .nots {
                    width: 100%;
                    text-align: center;
                }
                
                div.nots h1 {
                    font-size: 50px;
                    font-weight: bold;
                    letter-spacing: -1px;
                    padding-top: 90px;
                }
                
                div.nots p {
                    color: rgb(145, 145, 145);
                }
                
                .sliderShow {
                    width: 900px;
                    height: 550px;
                    margin: 80px 0 0 225px;
                    overflow: hidden;
                }
                
                .slides {
                    width: 500%;
                    height: 550px;
                    display: flex;
                }
                
                .slide {
                    width: 20%;
                    transition: 2s;
                }
                
                .middle {
                    margin-bottom: 70px;
                }
                
                .navigation {
                    margin: 590px 0 0 47px;
                    position: absolute;
                    width: 800px;
                    display: flex;
                    justify-content: center;
                }
                
                label.bar {
                    border: 2px solid rgb(168, 168, 168);
                    cursor: pointer;
                    padding: 5px;
                    border-radius: 10px;
                    transition: .5s;
                }
                
                .bar:not(:last-child) {
                    margin-right: 20px;
                }
                
                .bar:hover {
                    background-color: #E9204F;
                    border: 2px solid #E9204F;
                }
                
                input[name="r"] {
                    visibility: hidden;
                }
                
                .slide img {
                    width: 100%;
                    height: 100%;
                }
                
                #r1:checked~.first {
                    margin-left: -2.38%;
                }
                
                #r2:checked~.first {
                    margin-left: -22.33%;
                }
                
                #r3:checked~.first {
                    margin-left: -42.34%;
                }
                
                #r4:checked~.first {
                    margin-left: -62.33%;
                }
                
                #r5:checked~.first {
                    margin-left: -82.33%;
                } */
                /* ------------------------------------------section6-----------------------------------------------------*/
                
                .section-6 {
                    width: 100%;
                    background-image: url(png/footer-bg-1.jpg);
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                }
                
                .div-sec {
                    display: flex;
                    justify-content: center;
                    flex: 100%;
                    width: 100%;
                }
                
                .maindiv {
                    width: 50%;
                    padding: 6.9vw 0 6.9vw 5.3vw;
                    background-color: rgba(0, 0, 0, 0.486);
                    color: white;
                    /* flex: 95%; */
                }
                
                .maindiv h2 {
                    font-size: 3.3vw;
                }
                
                .maindiv p {
                    font-size: 1.4vw;
                }
                
                .button-div {
                    background-color: rgba(0, 0, 0, 0.486);
                    padding: 11.5vw 0px 0 0;
                    /* flex: 50%;*/
                    width: 50%;
                }
                
                button.start-1 {
                    background-color: #E9204F;
                    width: 20.7vw;
                    height: 4.6vw;
                    color: white;
                    border: none;
                    font-size: 1.4vw;
                    margin: 2.6vw 0px 7.6vw 20.1vw;
                    transition: background-color 0.7s;
                    border-radius: 3px;
                }
                
                button.start-1:hover {
                    color: #E9204F;
                    background-color: #ffffff;
                }
                /* ------------------------------------------footer-----------------------------------------------------*/
                
                footer {
                    width: 100%;
                    height: 2.5vw;
                    background-color: rgb(3, 3, 3);
                    margin: 0 0 1.5vw 0;
                    padding: 2.3vw 0 1.3vw 0;
                }
                
                footer span {
                    color: white;
                    cursor: pointer;
                }
                
                .div-footer-1 p {
                    vertical-align: center;
                    margin-top: 0;
                    color: rgb(95, 95, 95);
                    font-size: 1.05vw;
                    padding-left: 6.1vw;
                }
                
                .div-footer-1 {
                    float: left;
                }
                
                .div-footer-2 {
                    float: right;
                }
                
                .links {
                    display: flex;
                    padding-right: 3vw;
                }
                
                .link {
                    padding-right: .7vw;
                    cursor: pointer;
                }
                
                .link a {
                    text-decoration: none;
                    color: rgb(243, 242, 242);
                    font-size: 1.2vw;
                }
                
                #div1,
                #div2,
                #div3 {
                    background-color: white;
                    width: .007vw;
                    height: .1vw;
                    transition-timing-function: ease-out;
                    transition: .4s;
                    margin-top: .45vw;
                    visibility: hidden;
                }
                
                .link:hover #div1 {
                    width: 3.8vw;
                    background-color: #E9204F;
                    visibility: visible;
                }
                
                .link:hover #div2 {
                    width: 3.8vw;
                    background-color: #E9204F;
                    visibility: visible;
                }
                
                .link:hover #div3 {
                    width: 3.8vw;
                    background-color: #E9204F;
                    visibility: visible;
                }
                /*------------------------------------------jadid------------------------------------------------------ */
                /* .method-1 {
                           width: 530px;
                           height: 100%;
                           color: white;
                           background-color: rgba(0, 0, 0, 0.521);
                           text-align: center;
                        } */
                
                .overlay {
                    height: 100%;
                    width: 0;
                    position: fixed;
                    z-index: 1;
                    top: 0;
                    left: 0;
                    background-color: rgb(0, 0, 0);
                    background-color: rgba(0, 0, 0, 0.9);
                    overflow-x: hidden;
                    transition: 0.5s;
                    float: right;
                }
                
                .overlay-content {
                    position: relative;
                    top: 25%;
                    width: 100%;
                    text-align: center;
                    margin-top: 30px;
                }
                
                .overlay a {
                    padding: 8px;
                    text-decoration: none;
                    font-size: 36px;
                    color: #818181;
                    display: block;
                    transition: 0.3s;
                }
                
                .overlay a:hover,
                .overlay a:focus {
                    color: #f1f1f1;
                }
                
                .overlay .closebtn {
                    position: absolute;
                    top: 20px;
                    right: 45px;
                    font-size: 60px;
                }
                
                .menu-hidden {
                    font-size: 2.3vw;
                    cursor: pointer;
                    color: white;
                    position: relative;
                    left: 6vw
                }
                
                @media screen and (max-height: 1100px) {
                    .overlay a {
                        font-size: 20px
                    }
                    .overlay .closebtn {
                        font-size: 40px;
                        top: 15px;
                        right: 35px;
                    }
                }
                
                @media screen and (min-width: 1300px) {
                    .menu-hidden {
                        display: none;
                    }
                }
                
                @media screen and (max-width: 1299px) {
                    .icon {
                        display: none;
                    }
                    .menuBar {
                        display: none;
                    }
                    .menu-hidden {
                        font-size: 2.3vw;
                        cursor: pointer;
                        color: white;
                        position: relative;
                        left: 6vw
                    }
                }
                
                @media screen and (min-width: 1400px) {
                    a.gentium {
                        font-size: 19px;
                    }
                }
                
                @media screen and (max-width: 1266px) {
                    .moraba {
                        display: none;
                    }
                }
                
                @media screen and (min-width: 1574px) {
                    .moraba {
                        display: none;
                    }
                }
                
                @media screen and (max-width: 600px) {
                    .pic--1 {
                        /* float: left; */
                        width: 70%;
                    }
                    .note {
                        width: 70%;
                        margin-bottom: 0;
                        padding: 40px 0 0 0;
                    }
                }
                
                @media screen and (max-width: 900px) {
                    .picturs-1,
                    .picturs-2,
                    .picturs-3,
                    .picturs-4,
                    .picturs-6 {
                        display: none;
                    }
                    div.picturs {
                        height: 0;
                    }
                    .note {
                        height: 420px;
                    }
                }